<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar Turno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="form" #eventForm="ngForm" (ngSubmit)="addEvent()">
    <ion-item>
      <ion-label position="floating">Cliente</ion-label>
        <ion-input type="text" class="form-control" [(ngModel)]='event.title' name="title" #title='ngModel' placeholder="Titulo" aria-label="Username" aria-describedby="basic-addon1" required></ion-input>

      </ion-item>
      <ion-item>
        <ion-label position="floating">Horario</ion-label>
        <ion-input type="datetime-local" class="form-control" [(ngModel)]='event.start' name="start"  #dateStart='ngModel' placeholder="Fecha De Inicio" aria-label="DateStart" aria-describedby="basic-addon1" required></ion-input>

      </ion-item>
      <ion-item>
        <ion-button class="btn btn-success" type="submit" >Agregar</ion-button>
      </ion-item>
  </form>

</ion-content>
