<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <h4 *ngIf="!isLogued">Ingresa</h4>
        <ion-icon class="float-left mt-3" name="power-outline" (click)="logout()" *ngIf="isLogued"></ion-icon> <p *ngIf="isLogued" class="float-rigth text-primary ml-2 mt-3">{{user}}</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-auth *ngIf="!isLogued"></app-auth>
    <ion-router-outlet *ngIf="isLogued"></ion-router-outlet>
  </ion-content>

</ion-app>
